#women-page-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    left: 0
}

.women-top-wrapper {
    margin-bottom: 20rem;
}

#women-page-text-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    margin-left: 4.5rem;
}

.top-women-page {
    line-height: 5vw;
}

#women-page-header {
    font-family: 'Koulen', sans-serif;
    font-size: 5.5vw;
    margin: 0;
    margin-top: 15rem;
}

#women-page-body {
    font-size: 5.5vw;
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#women-page-body-1 {
    font-size: 5.5vw;
    font-family: 'Source Sans 3', sans-serif;
}

#women-body-1 {
    font-size: 2.5vw;
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#women-body-2 {
    font-size: 1.2vw;
    font-family: 'Source Sans 3', sans-serif;
}

#women-body-3 {
    font-size: 1.2vw;
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 1rem;
}

#women-body-4 {
    font-size: 1.2vw;
    font-family: 'Source Sans 3', sans-serif;
}
