#about-4-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    gap: 4rem;
    margin-left: 5rem;

}

.about-4-text {
    display: flex;
    flex-direction: column;
    width: 28vw
}

#about-4-header {
    font-family: 'Cuprum', sans-serif;
    font-size: 6vw;
}

#about-4-body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4vw;
    margin-top: 2rem;
}
